@font-face {
  font-family: "Univers";
  src: local ("Univers");
  src: url("../fonts/Univers.eot");
  src:url("../fonts/Univers.woff"), url("../fonts/Univers.woff2"),url("../fonts/Univers.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Univers";
}


/* @font-face {
  font-family: "Arial";
  src: */

header.main{
  height: 80px;
  border:1px solid #b9b3b3;
  /* background-color: #1dcf92; */
}

.main .logo {
  width: 30%;
  height: inherit;
  font-size: 40px;
  /*line-height: 80px;*/
  padding: 20px;
  float: left;
  /* background-color: rgb(157, 233, 31); */
}

.logo span{
  font-size: 30px;
}

/* NAV */

.main nav {
  height: inherit;
  /* background-color: rgb(17, 66, 190); */
  float: right;
  width: 30%;
}

.main nav > ul {
  width: 100%;
  height: 100%;
  list-style: none;
}

.main nav > ul > li{
  width: 33.33%;
  text-align: center;
  line-height: 80px;
  font-size: 25px;
  float: left;
  height: inherit;
}

.main nav > ul > li > a:visited {
  color:black;

}

/* section */

.content{
  width: 80%;
  background-color: rgb(19, 235, 132);
  margin: auto;
}

.content > section {
  width: 60%;
  height: 500px;
  /* background-color: rgb(14, 34, 143); */
  float: left;
  padding: 20px;
}

.content > aside {
  width: 40%;
  height: 200px;
  /* background-color: rgb(49, 179, 169); */
  float: left;
  padding: 40px;
}

/*  Aside*/

.content > aside .img, .content > section > article .img{
  width: 80px;
  height: 80px;
  background-color: #b91dcc;
  border-radius: 50%;
  background-image: url("../images/5.jpg");
  background-size: cover;
  background-position: 50% 50%;
  float: left;
}

.content > aside > h3 {
  float: left;
  line-height: 80px;
  padding-left: 20px;
}

.content > aside > p{
  padding: 10px;
  color: #5d5a5a;
  clear:both;
}

/* Section - article */

.content > section> article {
  /* background-color: rgb(117, 198, 21); */
  border: 1px solid #757678;
  border-radius: 10px;
  margin-bottom:20px;
}

.content > section > article .img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.content > section > article .info {
  line-height: 40px;
  padding: 20px;
}

.content > section > article img {
  display: block;
  width: 100%;
}

.content > section > article .comment {
  padding: 20px;
  overflow: auto;
}

.content > section > article .icons {
  float: left;
  width: 200px;
  font-size: 2em;

}
.content > section > article input[type="text"] {
  display: block;
  float: right;
  border: none;
  border: 1px solid #737475;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.1em;
}


@keyframes movebox {
  0% { transform: translateX(0px);}
  50% {transform: translateX(200px);}
  100% { transform: translateX(0px);}


}

.box {
  width: 200px;
  height: 200px;
  background-color: rgb(198, 38, 233);
  animation: movebox 2s ease-out infinite;
}
